#addForm{
    .addInput{
        border:none;
        border-bottom: 1px solid gray;
    }
    .plusButton{
        background-color: #3479F6;
        color: white;
        border-radius: 2rem;
        height: 2rem;
        width: 2rem;
    }
}