.foodCardContainer{
    width:170px;
    border:1px solid black;
    border-radius: 1rem;
    margin: .5rem .3rem 0 .3rem;
    img{
        border-radius: 1rem 1rem 0 0;
    }
    .bottomCard{
        padding:0rem .5rem;
        h3, p{
            margin:.2rem 0  ;
           }
           h3{
            font-size:1rem;
           }
           p{
               font-size:.8rem;
           
       }
       .bottomTags{
           button{
               border: none;
               border-radius: 1rem;
               padding:.2rem;
               color: rgb(153, 153, 153);
               background-color: rgb(245, 245, 245);
               width: 40%;
               margin: .5rem .3rem .5rem 0;
           }
       }
    }
      
}
