.foodCard{
    border-top: 1px solid rgb(190, 190, 190);
    border-bottom: 1px solid rgb(190, 190, 190);
    margin-top: .3rem;
    width:100%;
    background-color: white;
        hr{
            border:1px solid rgb(190, 190, 190);
            width:90%;
        }
        .cardTopRow{
            display: flex;
            padding: 1rem 0rem 0rem 1rem;

                h3{
                    margin-top: .5rem;
                    color: #555555;
                }
                img{
                    border-radius: 2rem;
                    width:40px;
                    height: 40px;
                    margin-right: 1rem;
                }
        }
        .cardImage{
            margin:1rem 0;
            img{
                width:100%;
            }
        }  
        .bottomCard{
            padding: 0rem 0rem 0rem 1rem;
            display:flex;
            justify-content: space-between;
            .bottomCardRowtwo{
                button{
                    font-size:1.5rem;
                    margin-top:2rem;
                    border: none;
                    background-color: transparent;
                }
            }
            p ,h1{
                color:#555555;
                margin: 0;
            }
            p{
                margin-top: .5rem;
                font-size:1.5rem;
            }
            .saveIcon{
                background-color: transparent;
            }
        } 
        .bottomCardFooter{
           
            button{
                background-color:rgb(190, 190, 190);
                margin: 1.5rem .5rem 1.5rem 1rem; 
                font-size: 1rem;
                padding: .2rem .5rem;
                width: 5rem;
                border-radius: .5rem;
                color: white;
            }
        }     
}